<p id="notice"><%= notice %></p>

<h1>Listing Stories</h1>

<%= link_to '[+] New Story', new_story_path %>

<% @stories.in_groups_of(3) do |row_stories| %>
  <div class="row">
    <% row_stories.each do |story| %>
      <div class="col-sm-4">
        <h3><%= link_to story.title, story %></h3>
        <span><em><%= story.published.strftime("%B %d, %Y") %></em></span>
        <p><%= story.overview %></p>
      </div>
    <% end %>
  </div>
<% end %>

